.container.greeting{
    background-image: url(https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    padding: 5rem;
}

.navbar{
    background-color: white !important;
}
.navbar-brand{
    font-size: 2.2rem;
    font-weight: 400;
}
.navbar-brand, .author, .card-title{
    color: #ef4c00 !important;
}

.heading{
    color: #B30733;
    font-weight: 200;
}

.card{
    border-radius: 20px
}

.card-img-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card-img-top{
    height: 200px;
}

.btn{
    
}
.card-body a{
    background-color: #ef4c00 !important;
    color: white;
}
